# list and list related examples

In [24]:
li=[1,2,3,4,5]
print(len(li))

5

In [25]:
li[2]=1954
print(li)

[1, 2, 1954, 4, 5]

In [26]:
del li[3]
print(li)

[1, 2, 1954, 5]

In [6]:
li1= [1,2,3,4]
del li1[1]

In [7]:
li1

[1, 3, 4]

In [28]:
 del li

In [49]:
li=[1,2,3,4,5]
print(li[-1])

5

In [33]:
print(li[1:3])
print(li[-4:-3])
print(li[-4])
print(li[-1:-4])

[2, 3]
[2]
2
[]

In [34]:
### methods of list
print(sum(li))
print(max(li)) #maximum value of the list 
print(min(li)) #minimum value of the list
print(sum(li)//len(li)) # average

15
5
1
3

In [51]:
# list methods
li.append(200) # append will insert the item in the last  
print(li)

[1, 2, 3, 4, 5, 200, 200]

In [52]:
li.insert(3,56)  # insert the item in any specified position
print(li)

[1, 2, 3, 56, 4, 5, 200, 200]

In [53]:
li.count(200) # count the list item how many times it is repeated

2

In [54]:
li.index(56)

3

In [60]:
li.sort()# sorts the entire
a=li[::-1]
print(a)
print(li)

[200, 56, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 56, 200]

In [63]:
li.pop() #pop( ) removes the item of last index
li
li.pop(3)
print(li)

[1, 2, 3]

In [64]:
# define the second largest number in the list
#li=[1,56,28,45,3,5,6,9]
# output =45
def secondlarge(li):
    li.sort()
    return li[-2]
li=[1,56,28,45,3,5,6,9]
secondlarge(li)

45

In [65]:
def genericlarge(li,n): # generic......(li,n) gives the nth largest number of the list
    li.sort()
    return li[-n]
genericlarge(li,4)

9

In [68]:
def genericleast(li,n):
    li.sort()
    return li[n]
li=[1,56,28,45,3,5,6,9]
genericleast(li,3)

6

# number to list conversion
 - 198765432-[1,9,8,7,6,5,4,3,2,1]

In [73]:
def numbertolist(n):
    li=[]
    while n!=0:
        r=n%10
        li.append(r)
        n=n//10
    li.reverse()
    return li
numbertolist(1987654321)

[1, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# data structures - tuples
- it is similar to list objects
- list will be enclosed in square brackets[] and tuples will be enclosed in paranthsis()
- list can be increased/decreased and Tuples is fixed so that you cant increase/decrease the Tuple
- it means list is mutable and Tuple is immutable
- list will be used for read and write where as Tuple will be used for reading only

In [74]:
t=(1,2,3,4,5)
t

(1, 2, 3, 4, 5)

In [75]:
t[0:3]

(1, 2, 3)

In [77]:
t[2]

3

# data structures- dictionaries
- this data structure object is works on set of keys and values
- there will be unique key sets will be defined
- every key will be separated from its value by colon(:)
- every key and value will be separated by comma(,)
- this will be enclosed in curly brackets

In [79]:
d1={"name":"sindhu","emailid":"sindhu@gmail.com","phonenumber":"9597413698"}
print(d1)

{'name': 'sindhu', 'emailid': 'sindhu@gmail.com', 'phonenumber': '9597413698'}

In [87]:
print(d1["emailid"])
print(d1["phonenumber"])
d1["phonenumber"]=2368977125 # to modify the information

sindhu@gmail.com
2368977125

# contact application 
- used concepts:dict,tuple,list
## modules of contact application
- add contact
- search contact
- import the new contact
- update the contact details
- delete the contact details

In [93]:
contacts={}
def addcontacts(name,phone):
    if name not in contacts:
        contacts[name]=phone
        print("contact added")
    else:
        print("contact is not added")        
    return
addcontacts('bindhu',98526699826)
addcontacts('sindhu',98526699855)
addcontacts('bindhu',98526699826)

contact added
contact added
contact is not added

In [94]:
contacts

{'bindhu': 98526699826, 'sindhu': 98526699855}

In [105]:
# define function for search contact
def searchcontact(name):
    if name in contacts:
        print(name,':',contacts[name])
    else:
        print('contact is not present')
    return
searchcontact('sindhu')
searchcontact('bindhu')
searchcontact('deepu')

sindhu : 9989383464
contact is not present
deepu : 597413584

In [100]:
# define the function for import the new contacts
def importcontacts(newcontacts):
    contacts.update(newcontacts)
    print('new contact as added')
    return
newcontacts={'deepu':597413584,'teja':9963335685}
importcontacts(newcontacts)

new contact as added

In [101]:
contacts

{'bindhu': 98526699826,
 'sindhu': 98526699855,
 'deepu': 597413584,
 'teja': 9963335685}

In [102]:
def updatedetails(name,phone):
    if name in contacts:
        contacts[name]=phone
        print('contact update is successful')
    else:
        print('please add the contact')
    return
updatedetails('sindhu',9989383464)
updatedetails('bindhu',4848745121)

contact update is successful
contact update is successful

In [103]:
# define the delete the contact details
def deletecontact(name):
    if name in contacts:
        del contacts[name]
        print('contact is deleted')
    else:
        print('contact is not deleted')
    return
deletecontact('bindhu') 
deletecontact('sudha')

contact is deleted
contact is not deleted

In [104]:
contacts

{'sindhu': 9989383464, 'deepu': 597413584, 'teja': 9963335685}

# string to list conversion
- "1 2 3 4 5 6"- [1,2,3,4,5,6]

In [1]:
s="1 2 3 4"
li=s.split()
print(li)

['1', '2', '3', '4']

In [3]:
s1='gitam hyderabad python programming' 
li1=s1.split()
print(li1)

['gitam', 'hyderabad', 'python', 'programming']

In [4]:
def strtolist(s):
    li=s.split() # divide the string by white space
    #['1','2',.........,'6']
    numberlist=[]
    for i in li:
        numberlist.append(int(i))
    return numberlist
strtolist('1 2 3 4 5 6')

[1, 2, 3, 4, 5, 6]